<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Star Wars Planets</span>
    <button mat-button (click)="deletePlanet(i)" class="small-button pull-right">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="planet-container">
  <mat-card class="planet-card" *ngFor="let planet of planets; let i=index" (click)="openPlanet(i)">
    <mat-card-header>
      <mat-card-title>{{planet.name}}</mat-card-title>
      <button mat-button (click)="deletePlanet(i)" class="small-button pull-right">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>
</div>

<div class="clearfix"></div>

<div class="footer">
  <div class="loading-bar-container" *ngIf="loading">
    <mat-progress-bar class="loading-bar" mode="query"></mat-progress-bar>
    <h3>L O A D I N G</h3>
  </div>
  <button mat-raised-button color="primary" *ngIf="!loading" (click)="getPlanetsList()">View More Planets</button>
</div>
